
:root {
  --global-fill-kidcore-red: #efb0c7;
  --global-fill-kidcore-yellow: #f7e7cf;
  --global-fill-kidcore-green: #c7e9c7;
  --global-fill-kidcore-purple: #d3aef3;
  --global-fill-kidcore-blue: #bfbbf8;

  --global-highlight-kidcore-red: #f7d9e8;
  --global-highlight-kidcore-yellow: #fbf9ef;
  --global-highlight-kidcore-green: #ebf4eb;
  --global-highlight-kidcore-blue: #dfdef8;
  --global-highlight-kidcore-purple: #ead3f7;

  --global-border-kidcore-red: #7a2d3c;
  --global-border-kidcore-yellow: #a58f73;
  --global-border-kidcore-green: #818a5e;
  --global-border-kidcore-purple: #62367a;
  --global-border-kidcore-blue: #59589c;

  --body-background-color: var(--global-highlight-kidcore-yellow);
}



body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
    /* color: #333; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    border-bottom: 2px solid var(--global-border-kidcore-red);
    padding: 0px 0px;
    margin: 0 0px;
}

h1 {
    padding: 0px 10px;
    margin: 0;
    font-family: 'Grand Hotel', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
}

h1 a {
    text-decoration: none;
    color: var(--global-border-kidcore-red);
}


.navbar {
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: var(--global-fill-kidcore-blue); */
    align-items: center;
    padding: 10px;
    font-size: 24px;
    /* font-family: cursive; */
    /* border-bottom: 2px solid var(--global-border-kidcore-blue); */
    text-decoration: none;
    color: var(--global-border-kidcore-red);
}

.navbar a {
    /* text-decoration: none; */
    color: var(--global-border-kidcore-red);
    padding: 0px 10px;
}

#login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* padding: 5px 10px; */
    /* margin-right: 10px; */
    /* background-color: var(--global-fill-kidcore-blue);
    border: 2px solid var(--global-border-kidcore-blue); */
    /* border-radius: 10px; */
}

#login-information {
    padding: 5px 5px;
    font-size: large;
}

.about {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--global-fill-kidcore-yellow);
    border: 2px solid var(--global-border-kidcore-yellow);
    border-radius: 10px;
}

#pets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 20px;
}

.pet {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--global-border-kidcore-green);
    background-color: var(--global-fill-kidcore-green);
    margin: 20px 20px;
    padding: 10px;
    min-width: 300px;
    max-width: 250px;
}

.pet img {
    width: 50px;
    height: 50px;
    align-self: center;
}

.pet-name {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.pet-name a {
    text-decoration: none;
    color: Black;
}

.pet a {
    margin: auto;
}

.pet-activity {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.pet-activity .keyword {
    font-weight: bold;
    color: #682323;
}

.stats {
    margin-top: 10px;
    padding: 5px 5px;
    font-size: 14px;
    color: #555;
    border:var(--global-border-kidcore-green) 1px solid;
    background-color: var(--global-highlight-kidcore-green);
}

.pet-relationships {
    padding: 5px 5px;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    border:var(--global-border-kidcore-green) 1px solid;
    background-color: var(--global-highlight-kidcore-green);
}

.pet-activity-relationships{
    padding: 5px 5px;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    border:var(--global-border-kidcore-green) 1px solid;
    background-color: var(--global-highlight-kidcore-green);
}

ul {
    padding : 0;
    margin : 0;
}

li {
    list-style-type: none;
}


/* progress {
    -webkit-appearance: none;
    appearance: none;
} */

.user-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 5px 10px;
    margin: 5px;
    background-color: var(--global-border-kidcore-green);
    color: white;
    border-radius : 10px;
    border: 0px solid ;
}

/* hover effect for buttons */
button:hover {
    background-color: var(--global-highlight-kidcore-green);
    color: var(--global-border-kidcore-green);
    /* border-color: #a94444; */
    cursor: pointer;
}

#environments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 20px;
}

.environment {
    text-align: center;
    /* background-color: #ffe8e8; */
    border: 2px solid #682323;
    padding: 10px;
    margin: 10px 10px;
    /* max-width: 200px; */
    /* min-width: 200px; */
    background-size: cover;
    opacity: 0.9;
    z-index: 0;
}

#environment-park{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0 100%), url('../assets/images/backgrounds/park.png');
}

#environment-home{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0 100%), url('../assets/images/backgrounds/home.png');
}
#environment-school{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0 100%), url('../assets/images/backgrounds/school.png');
}
#environment-cafe{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0 100%), url('../assets/images/backgrounds/cafe.png');
}
#environment-playhouse{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0 100%), url('../assets/images/backgrounds/playground.png');
}






.environment-pets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: rows;
    justify-content: space-around;
    gap: 5px;
    margin-top: 10px;
}

/* form {
    display: flex;
    margin : auto;
    justify-content: center;
} */


/* for popus */
.environment-select-popup {
    position: fixed;
    /* top: 50%; */
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.environment-select-window {
    padding: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #682323;
}

.environment-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}



